server:
  port: 8080

spring:
  application:
    name: bet-settlement-service

  datasource:
    url: jdbc:h2:mem:bettingdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update # bad approach for production, use migrations instead, but good enough for demo
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: bet-settlement-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

rocketmq:
  name-server: localhost:9876
  producer:
    group: bet-settlement-producer-group